.container {
  border-bottom: solid 4px black;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.devContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.skillsTitle h2 {
  text-align: start;
  font-weight: 100;
  font-size: 36px;
  left: -2px;
  text-align: center;
}

.containerTitle h2 {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  font-weight: 400;
}

.container h3 {
  color: #264794;
  margin: -10px 0px 0px -2.2px;
  font-size: 82px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skillsList {
  position: relative;
  bottom: 24px;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

/* -------- SKILLS -------- */
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  margin: 0 auto;
}

.containerService {
  width: 350px;
  margin: 0 auto;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.186);
  border-radius: 4px;
}

.containerContent {
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  top: 100px;
  position: relative;
}

.devSection {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.serviceSection {
  height: 140px;
  width: 1200px;
  align-items: center;

  justify-content: center;
}

.serviceSection h5 {
  text-align: end;
  font-weight: 600;
  margin: 4px;
  position: relative;
  top: -3px;
}

svg {
  display: block;
  margin: 4px;
  flex-shrink: 0;
  transition: all 0.3s ease-out; /* Añade la transición en el estado inicial */
}

svg:hover {
  width: 138px;
  height: 138px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.651));
}

.containerService:hover {
  box-shadow: 1px 2px 4px black;
  transition: 0.3s;
  color: black;
}

.otherServiceSection h5 {
  text-align: end;
  font-weight: 600;
  margin: 4px;
  position: relative;
  top: -3px;
}

.otherServiceSection p {
  position: relative;
  left: 5px;
}

.otherContainerService {
  width: 450px;
  margin: 0 auto;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.186);
  border-radius: 4px;
}
