body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
  background-color: #080d16;
}

.presentContainer {
  text-align: start;
  position: absolute;
  top: 234px;
  left: 280px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.presentContainer h2 {
  font-size: 48px;
  margin: 0 auto;
  position: relative;
  left: 1.5px;
  font-weight: 100;
  color: rgb(231, 231, 231);
}

.presentContainer h3 {
  font-weight: 300;
  font-size: 74px;
  margin: 0 auto;
}

.presentContainer h4 {
  font-weight: 300;
  display: flex;
  margin: 0 auto;
  color: rgb(231, 231, 231);
  justify-content: start;
  font-size: 72px;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  top: -40px;
}

.presentContainer img {
  position: absolute;
  width: 680px;
  top: -130px;
  left: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bolds {
  color: #1c45a4;
  font-size: 74px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.backgroundBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.imgBanner img {
  position: relative;
  left: 395px;
  margin: 0 auto;
}




.contactContainer{
  margin: 0 auto;
  position: relative;
  top:-200px;

}

.contactContent ul {
  display: flex;
  list-style: none;
  background-color: #1c45a419;
  width: 300px;
  height: 60px;
  border-radius: 10px;
}

.contactContent li {
  text-align: start;
  margin: 20px;
  z-index: 20;
}

.icon {
  cursor: pointer;
}

.icon img {
  width: 38px;
}
