.container {
  border: 1px solid black;
  background-color: #080d16;
  height: 720px;
}

.container section {
  top: 40px;
  position: relative;
}

.sectionContent {
  top: 60px;
  position: relative;
}

.container h2 {
  font-size: 80px;
  display: flex;
  color: #264794;
  justify-content: center;
  margin: 0 auto;
}

.container ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

.container li {
  margin: 0 auto;
  list-style: none;
  background-color: #0e1628;
}

.workContent {
  border: 2px solid black;
  padding: 100px;
}
