.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  background-color: #090e1a;
  border: 1px solid black;
  width: 910px;
  height: 500px;
  box-shadow: 4px 4px 6px black;
  padding: 20px;
  border-radius: 4px;
}

.leftColumn,
.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.leftColumn {
  display: flex;
}

.rightColumn {
  position: relative;
  left: 4px;
}

.formContent p {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  top: -60px;
  font-weight: 100;
  font-size: 20px;
  text-align: start;
}

.formContentTitle,
.formContentTitle2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  top: -30px;
}

.formContentTitle h3,
.formContentTitle2 h3 {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 400;
}

.formInputs {
  display: flex;
  width: 480px;
  position: relative;
  top: -40px;
  flex-direction: column;
}

.formInputs input,
.formInputs textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  background-color: rgba(128, 128, 128, 0.219);
}

.formInputs button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: #2962ff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.formInputs button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
  border: solid 1px white;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 120px;
}

textarea::placeholder {
  font-size: 14px;
}

.rightColumn p {
  margin-top: 20px;
  color: #ccc;
}

.formContent ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  top: -40px;
}

.formContent li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formContent svg {
  margin-right: 10px;
}

.contactContent ul {
  width: 170px;
  height: 50px;
  display: flex;
  position: relative;
  top: 0px;
  left: -6px;
}

.contactContent li {
  position: relative;
  padding: 8px;
  margin: 0 auto;
  align-items: center;
}

.contactContent li a {
  width: 40px;
  height: 40px;
}

a svg {
  border-radius: 20%;
  justify-content: center;
  align-items: center;
  background-color: #090e1a;
  border: solid 1px gray;
}

a svg:hover {
  transition: 0.3s ease;
  background-color: #2962ff;
  border: solid 1px white;
  transform: scale(106%);
}

.hrTitle1 hr {
  position: absolute;
  top: 74px;
  width: 102px;
  border: 1px solid #2962ff;
}

.hrTitle2 hr {
  border: 1px solid #2962ff;
  position: absolute;
  width: 102px;
  top: 74px;
}
