.contactContent ul {
  display: flex;
  list-style: none;
  background-color: #1c45a419;
  width: 300px;
  height: 60px;
  border-radius: 10px;
}

.contactContent li {
  text-align: start;
  margin: 20px;
  z-index: 20;
}

.icon {
  cursor: pointer;
}

.icon a {
  font-style: none;
}
