.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center; /* Esto centra la imagen en el contenedor */
  background-size: auto;
  background-attachment: fixed;
  background-image: url("src/assets/fondo - copia.png");
}

.form {
  display: flex;
  background-color: #0e1628;
  border: 1px solid black;
  width: 920px;
  height: 520px;
  box-shadow: 4px 4px 6px black;
  padding: 20px;
  border-radius: 4px;
}

.leftColumn,
.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.leftColumn {
  display: flex;
}

.rightColumn {
  position: relative;
  left: 4px;
}

.formContent p {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  top: -60px;
  font-weight: 100;
  font-size: 18px;
  text-align: start;
}

.formContentTitle,
.formContentTitle2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  top: -10px;
}

.formContentTitle h3,
.formContentTitle2 h3 {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 400;
}

.formInputs {
  display: flex;
  width: 480px;
  position: relative;
  flex-direction: column;
}

.formInputs textarea {
  resize: none;
  height: 120px;
}

.formInputs input,
.formInputs textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(128, 128, 128, 0.219);
}

.formInputs button {
  width: 110px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: #2962ff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 4px;
}

.formInputs button span {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  left: 2px;
}

.formInputs button svg {
  top: 2px;
  position: relative;
  left: -6px;
}

.formInputs button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.formInputs button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.2s;
}

.formInputs button svg {
  display: block;
  transform-origin: center center;
  transition: 0.2s ease-out;
}

.formInputs button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.formInputs button:hover svg {
  position: relative;
  top: 0px;
  left: 5px;
  transform: translateX(1.2em) rotate(45deg) scale(1.3);
}

.formInputs button:hover span {
  transform: translateX(5em);
}

.formInputs button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.formInputs button:hover {
  background-color: #142e74;
  color: white;
  transition: 0.3s ease;
  border: solid 1px white;
  font-size: 16px;
}

.rightColumn p {
  margin-top: 20px;
  color: #ccc;
}

.formContent {
  position: relative;
  top: 40px;
}

.formContent ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  top: -40px;
}

.formContent li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formContent svg {
  margin-right: 10px;
}

.contactContent ul {
  width: 170px;
  height: 50px;
  display: flex;
  position: relative;
  top: 0px;
  left: -6px;
}

.contactContent li {
  position: relative;
  padding: 8px;
  margin: 0 auto;
  align-items: center;
}

.contactContent li a {
  width: 40px;
  height: 40px;
}

a svg {
  border-radius: 20%;
  justify-content: center;
  align-items: center;
  background-color: #090e1a;
  border: solid 1px gray;
}

a svg:hover {
  transition: 0.3s ease;
  background-color: #2962ff;
  border: solid 1px white;
  transform: scale(106%);
}

.hrTitle1 hr {
  position: absolute;
  top: 48px;
  width: 102px;
  border: 1px solid #2962ff;
}

.hrTitle2 hr {
  border: 1px solid #2962ff;
  position: absolute;
  width: 102px;
  top: 48px;
}

.svgWrapper {
  display: flex;
  align-items: center;
}
