.container {
  height: 100vh;
}

.aboutContent {
  position: relative;
  top: 140px;
  flex-direction: column;
}

.aboutContent h2 {
  top: 20px;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size: 40px;
  position: relative;
  text-align: start;
  font-weight: 400;
}

.aboutContent p {
  text-align: start;
  font-size: 22px;
  position: relative;
  font-weight: 300;
  top: -14px;
  left: 10px;
  color: rgb(233, 233, 233);
}

.aboutContent b {
  color: #183577;
}

.text {
  top: 30px;
  margin: 0 auto;
  position: relative;
  background-color: #090e1afa;
  box-shadow: 4px 4px 6px black;
  padding: 16px;
  width: 514px;
  height: 350px;
  z-index: 998;
}

.monigotes img {
  filter: blur(1px);
  width: 540px;
  height: 410px;
  position: relative;
  top: -350px;
  left: 750px;
}


.textContainer{
  display: flex;
  
}