.container {
  height: 580px;
  margin: 0 auto;
  background-color: #080d16;
}

.presentContainer {
  text-align: start;
  position: relative;
  top: 90px;
  left: 140px;
}

.presentContainer h2 {
  position: relative;
  font-weight: 300;
  top: 18px;
  font-size: 32px;
  margin: 0px 0px 0px 20px;
}

.presentContainer h3 {
  font-weight: 600;
  font-size: 56px;
  margin: 0px 20px 0px 20px;
}

.presentContainer img {
  position: absolute;
  width: 576px;
  top: -86px;
  left: 640px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bolds {
  color: #264794;
  font-size: 60px;
}

.backgroundBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.fullStackTitle {
  display: flex;
  width: 1721px;
  margin: 0 auto;
  padding: 6px 6px 6px 16px;
  border-radius: 4px;
}
