.container {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0),rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0.799),rgba(0, 0, 0, 0.052));
  transition: background 0.8s ease;}

.container ul {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 100px;
  flex-wrap: wrap;
}

.container li {
  display: flex;
  margin: 20px 40px 20px 40px;
  cursor: pointer;
  list-style: none;
}

.container a {
  color: rgb(233, 233, 233);
  font-weight: 500;
  text-decoration: none;
}

.container a:hover{
  color: #163c94;
  transition: 0.2s;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0),rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0.799),rgba(0, 0, 0, 0.052));
  z-index: 1000;
}
