.container {
  height: 720px;
  border: 1px solid black;
}

.skillTitles {
  position: relative;
  top: 60px;
  left: 284px;
  text-align: start;
}

.container h2 {
  font-size: 34px;
  margin: 0 auto;
  top: 10px;
  position: relative;
  font-weight: 300;
}

.container h3 {
  color: #264794;
  margin: -10px 0px 0px -2.2px;
  font-size: 82px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skillsList {
  position: relative;
  bottom: 24px;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}
